@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form>

    <label>Send an email</label>
    <input type="text" />
    <label>Subject</label>
    <input type="text" />

    <br />
    <label>Message</label>
    <textarea></textarea>
    <input id="buttonSend" type="button" value="Send message!" />
</form>
