@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model FanMailModel;
<form method="post">

    <label>Send an email</label>
    <input asp-for="from" name="from" type="text" />
    <label>Subject</label>
    <input asp-for="subject" name="subject" type="text" />

    <br />
    <label>Message</label>
    <textarea asp-for="message" name="message"></textarea>
    <input id="buttonSend" type="submit" value="Send message!" />


    <div asp-validation-summary="All">

    </div>
</form>
