@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page"
}

yeyeyeyey ABBY FAN CLUB PLEASE JOIN HERE! WE LOVE HERE

<br />
<h1>weeee LOOOOOOVEEEEE HER AND EVERYTHING ABOUT HER</h1>

<h2>Send her a cute email</h2>

<form>

    <label>Send an email</label>
    <input type="text" />
    <label>Subject</label>
    <input type="text" />

    <br />
    <label>Message</label>
    <textarea></textarea>
    <input id="buttonSend" type="button" value="Send message!" />
</form>

test

test mission3 videos
<img src="IMG/hi-res-4596156715e3dea2ab108e8853361be1_crop_north.jpg" />
